.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
        margin-top: 10px;
    }
    &__avatar{
        cursor: pointer;
        margin-bottom: 30px;
    }
    &__posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}