:root {
  .comment {
    max-width: 500px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 15px;
    word-wrap: break-word;
    margin-bottom: 20px;
    &__clear{
        cursor: pointer;
    }
  }
}
